<div class="row clearfix">
  <h4>Listado de Pokemones</h4>
  <input type="search" class="search f-l" [(ngModel)]="filter" placeholder="Buscar">
  <button class="btn btn-new f-r" (click)="openForm()">
    <i class="ico-plus"></i>
    Nuevo
  </button>
</div>
<div class="row mt-30 ox-table">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Ataque</th>
      <th>Defensa</th>
      <th>Acciones</th>
    </tr>
    <tr *ngFor="let item of pokemons | pokemon:filter">
      <td>{{ item.name }}</td>
      <td class="text-center">
        <a [href]="item.image" class="ico-img" target="_blank">
          <img src="../../../assets/img/ico-img.png" alt="ico-img">
        </a>
      </td>
      <td>{{ item.attack }}</td>
      <td>{{ item.defense }}</td>
      <td class="text-center">
        <button class="btn-action" (click)="updatePokemon(item)">
          <i class="ico-edit"></i>
        </button>&nbsp;&nbsp;
        <button class="btn-action" (click)="deletePokemon(item.id)">
          <i class="ico-trash"></i>
        </button>
      </td>
    </tr>
  </table>
</div>


<div class="row newform" [ngStyle]="{'display': display}">
  <app-pokemon-form
    [pokemon] = "pokemon"
    (newPokemon)="addNewPokemon($event)"
    (display) = "closeForm()"
  ></app-pokemon-form>
</div>
