i.ico-plus::after{
  content: url('../../../assets/img/ico-plus.png');
  filter: invert(1);
}

.search{
  padding-left: 30px;
  background: url('../../../assets/img/ico-search.png') 10px center no-repeat;
}

.btn-new{
  cursor: pointer;
}


.ico-img{
  text-align: center;
  text-decoration: none;
  color: #ccc;
}

.btn-action{
  border: solid 1ps #ccc;
  background-color: #fff;
  cursor: pointer;
}

i.ico-trash::after{
  content: url('../../../assets/img/ico-trash.png');
}

i.ico-edit::after{
  content: url('../../../assets/img/ico-edit.png');
}

.newform{
  border: solid 1px #ccc;
  padding: 30px;
}
