i.ico-floppy::after{
  content: url('../../../assets/img/ico-floppy.png');
  filter: invert(1);
}

i.ico-cancel::after{
  content: url('../../../assets/img/ico-cancel.png');
  filter: invert(1);
}

.form-input-name,
.form-input-image,
.form-input-attack,
.form-input-defense{
  width: 175px;
}

.btn-cancel,
.btn-save{
  cursor: pointer;
}
