i.ico-plus::after{
  content: url('../../../assets/img/ico-plus.png');
  filter: invert(1);
}

.search{
  padding-left: 30px;
  background: url('../../../assets/img/ico-search.png') 10px center no-repeat;
}

.btn-new{
  cursor: pointer;
}


